<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="LUNAtic Club" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title>LUNAtic Club</title>
    <!-- Primary Meta Tags -->
    <title>LUNAtic Club</title>
    <meta name="title" content="LUNAtic Club">
    <meta name="description" content="LUNAtic Club">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lunatic.club">
    <meta property="og:title" content="LUNAtic Club">
    <meta property="og:description" content="LUNAtic Club">
    <meta property="og:image" content="">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://twitter.com/club-lunatic">
    <meta property="twitter:title" content="LUNAtic Club">
    <meta property="twitter:description" content="LUNAtic Club">
    <meta property="twitter:image" content="">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>

    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>

</html>
